.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
form {
	margin: 20px auto;
	width: 50%;
	
  }

  table {
	width: 50%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	top: 150px; 
	margin-bottom: 60px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added shadow effect */
	position:absolute;
  }

  table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
  }

  table tr:last-child td {
	border-bottom: none;
  }

  label {
	font-weight: bold;
  }

  input[type="text"],
  select {
	width: calc(100% - 20px); /* Adjusting for padding */
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }

  input[type="submit"] {
	width: calc(100% - 20px); /* Adjusting for padding */
	margin-top: 10px;
	margin-left: 20px; 
	margin-right: 20px;
	padding: 10px;
	background-color: #3bb19b;
	color: white;
	border: none;
	border-radius: 20px;
	cursor: pointer;
  }

  input[type="submit"]:hover {
	background-color: #058b4d;
  }
  img {
	
	top: 1px;
	margin-left: -300px; 
	
	width: 200px;
	height: 190px;
  }